:root{
    --cafe: #9b9183;
    --gris: #dbd7d4;
    --amarillo-claro: #fee970;
    --amarillo: #e4b61a;
    --azul:#2c3258;

    --fuente-principal:'DotGothic16', sans-serif;
    --fuente-secundaria:'Roboto', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--fuente-principal);
    
}

*,*::before,*:after{
    box-sizing: inherit;
}

/*Globales*/
body{
    background-color: var(--gris);
    line-height: 1.5;
}
.sombra{
    box-shadow: 28px 31px 9px 12px rgba(189, 166, 195, 0.97) ; 
}

img{
    max-width: 100%;
    
}
a{
    text-decoration: none;
}
p{
    font-size: 2.2rem;
    font-family: var(--fuente-secundaria);
    color: var(--azul);
    font-weight: bold;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--amarillo);
    font-family: var(--fuente-principal);
}
h1{
    font-size:4rem;
}
h2{
    font-size:3.5rem ;
}
h3 {
    font-size: 3rem;
}

/*Header*/
.header{
    display: flex ;
    justify-content: center;
}

.header__logo{
    margin: 5rem 0 ;
}

/*Navegacion principal*/
.navegacion{
    background-color: var(--cafe);
    display: flex;
    justify-content:center ;
    padding: 1rem;
   /* gap:3rem; Separacion forma nueva*/
} 


.navegacion__enlace{
    font-size: 3rem;
    text-decoration: none;
    color: var(--amarillo);
    font-weight: bold;
    margin-right: 5rem;/*Separacion antigua*/
}
.navegacion__enlace:last-of-type{
    margin-right: 0;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color:var(--azul);
}

/*Footer*/
.footer{
    background-color: var(--cafe);
    display:flex;
    justify-content:  flex-start;
    margin-top: 3rem;
}
.footer__text{
    color: var(--azul);
    text-transform:uppercase ;
    font-size: 2rem;
    font-weight: bold;
}

/*Grid*/
.grid  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}
@media (min-width: 768px) {
   .grid{
       grid-template-columns: repeat(3, 1fr);
   }
}

/*Producto*/
.producto{
    background-color: var(--amarillo-claro);
    border-radius: 1rem;
    padding: 1rem;

}
.producto__imagen{
    width: 100%;
    border-radius: 1rem;
}

.producto__nombre{
    font-size: 3.8;
    color:var(--cafe);
}
.producto__precio{
    font-size :2.5rem; 
    color:azul;
}
.producto__nombre,
.producto__precio{
    text-align: center;
    font-family: var(--fuente-secundaria);
    line-height: 1.2rem;
    font-weight: bold;
}
/*Grafico*/
.grafico {
    min-width: 30rem;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 1rem;
    grid-column: 1/3;
}
.grafico--principal{
    grid-row: 2 /3; 
    background-image: url(../img/grafico1.jpg);
    
}
.grafico--node{
    grid-row: 8/7;
    background-image: url(../img/grafico2.jpg);
}

@media (min-width: 768px) {
    .grafico--node{
        grid-row: 5/6;
        grid-column: 2/4;
        
    }
}

/*Sobre-Nosotros*/
.nosotros{
    display: grid;
    grid-template-rows: repeat(2 auto);
    gap: 3rem;
}
@media (min-width: 768px) {
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        gap :2rem;
    } 
}
.nosotros__informacion{
    font-family: var(--fuente-secundaria);
    color: var(--azul);
    font-weight: bold;
}
.nosotros__imagen{
    grid-row: 1/2;
    width: 100%;
    
}
@media (min-width: 768px) {
    .nosotros__imagen{
        grid-column: 2/3;
    } 
}

.motivo__titulo{
    text-transform:uppercase ;
    font-family: var(--fuente-secundaria) ;
    gap: 5rem;
}
.bloques{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;


}
@media (min-width: 768px) {
    .bloques{
        grid-template-columns: repeat(4,1fr);
}
.bloque{
    text-align: center;

}
.bloque__imagen{
    width: 100%;
}
.bloque__titulo{
    margin: 0;
    font-family: var(--fuente-secundaria);
    text-transform: uppercase;
}

/*Producto*/

.camisa{
    display: grid;
    grid-template-rows: repeat(2, auto);
    column-gap: 5rem;
}
@media (min-width: 768px) {
    .camisa{
        grid-template-columns: repeat(2, 1fr);
    }
}
.camisa__imagen{
    width: 100%;
}

/*Formulario*/
.formulario{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    font-size: 2rem;
    font-family: var(--fuente-secundaria);
    gap: 2rem;
}
@media (min-width: 768px) {
    .formulario{
        grid-template-columns: repeat(2, 1fr);
   
    }  
}
  
.formulario__campo{
    background-color: var(--amarillo-claro);
    border-color: var(--amarillo);
    border-width: 1rem;
    border-style: solid;
    /*border:1rem solid var(amarillo) ; forma resumida*/
    padding: .5rem ;
    appearance: none;
    
}
@media (min-width: ) {
   .formulario__campo{
       max-width: 100%;
   }
}
.formulario__boton{
    background-color:var(--amarillo);
    font-size: 2rem;
    padding: 2rem;
    border:none;
    border-radius: 1rem;
    transition:background-color .3s ease-out;
    max-width: 100%;
}
@media (min-width: 600px) {
    .formulario__boton{
        grid-column:1/3;
    }
}
.formulario__boton:hover{
    cursor: pointer;
    background-color: var(--cafe);
}
